/dashboard-out/*
/dashboard-premium-out/*
/dashboard-premium-popup-out/*
/temporaryScripts/*
/.env/*
/dotenv-example.js/*
/googleSociallogin.js/*
/assertTest.js/*
/node_modules/*
/layout/*
/logs/applisting.test.log/*
/logs/blog.test.log/*
/logs/createStart.test.log/*
/logs/dashboardLayout.test.log/*
/logs/dashboardMainPage.test.log/*
/logs/downloadAppCase1.test.log/*
/logs/downloadAppCase2.test.log/*
/logs/downloadAppCase3.test.log/*
/logs/publish.test.log/*
/logs/registerAppCase1.test.log/*
/logs/registerAppCase2.test.log/*
/logs/registerAppCase3.test.log/*
/logs/support.test.log/*
/logs/templatesGuide.test.log/*
/logs/templatesMessenger.test.log/*
/logs/templatesQuiz.test.log/*
/logs/templatesUrl.test.log/*
/logs/premium.test.log/*
/premiumPurchase.test.js/*
